
    <!-- FontAwesome JS-->
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>-->
    <!-- <script defer src="https://use.fontawesome.com/releases/v6.5.2/js/all.js" integrity="sha384-0Wxe72Q/02SdBPBq/LqSU+splwDzFGUHsKMXR+I/xmV7370GaCBtODwQN7NIOpNU" crossorigin="anonymous"></script>-->
    <link href="fontawesome-free-6.5.2-web/css/all.min.css" rel="stylesheet" />

    {{ template "_internal/google_analytics_async.html" . }}
